/* 𝕄𝔸𝔻𝔼 𝔹𝕐 𝕄𝕌𝕂𝕌ℕ𝔻 𝕊ℍ𝕌𝕂𝕃𝔸 */


/* importing required fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Global reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* user's browser font-size setting */
  font-size: 62.5%;
}

body {
  /* defaults */
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;

}

/*------------------------ COMPONENTs ----------------------------------*/

/* default container */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
  align-items: center;
  gap: 24px;
}

/* Slogan line main heading  */
.main-line {
  color: #fff;
  font-size: 6.2rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 1.05;
  margin: 0 0 3.2rem 0;
}

.btn {
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.2px;
  background-color: #f3ba00;
  border-radius: 0 6px 6px 0;
  border: 0;
  transition: background-color 0.3s;
}

::placeholder {
  font-size: 1.6rem;
  color: #929292;
}

input[type="text"]:focus {
  outline: none;
}

.discount {
  position: relative;
}

/* for 20% discount*/

.discount-20::before {
  content: "20%";
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #101115;
  display: inline-block;
  background-color: #f3ba00;
  padding: 0.5rem 0.5rem;
  left: 1px;
  position: absolute;
  border-radius: 8px 0 2px 0;
  z-index: 1;
  box-shadow: 2px 1px 0 0 #bebebe, -1.5px 0px 0 0 #bebebe;
}

/* for 50% discount */
.discount-50::before {
  content: "50%";
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #101115;
  display: inline-block;
  background-color: #f3ba00;
  padding: 0.5rem 0.5rem;
  left: 1px;
  position: absolute;
  border-radius: 8px 0 2px 0;
  z-index: 1;
  box-shadow: 2px 1px 0 0 #bebebe, -1.5px 0px 0 0 #bebebe;
}


/* -------------------------HEADER SECTION---------------------------- */

.header {
  background-color: #1ac073;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 0 6.2rem;
  padding-left: 8.21vw;
  padding-right: 9.75vw;
}

.logo {
  height: 2.4rem;
}

.cart_search-box li,
.main-nav-list li {
  list-style: none;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 0;
}

.cart_search-box {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 0;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #062e1c;
}

.nav-cart-box {
  position: relative;
}

.nav-cart-box::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #f3ba00;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: -8.700000000000003px;
}


/*------------------------------------ LANDING PAGE----------------------- */

.character-section {
  background-color: #1ac073;
  padding: 4.8rem 4.8rem;
}

.character {
  max-width: 130rem;
  padding: 0 6.2rem;
  padding-right: 0rem;
  display: grid;
  margin-left: 1vw;
  margin-top: 100px;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 4.8rem;
}

.main-line {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 82px;
  color: #FFFFFF;
}

.character-image {
  width: 100%;
}

.descripion {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 6.2rem;
  line-height: 1.6;
}

.search-box {
  border: 0;
  border-radius: 8px 0 0 8px;
  flex-basis: 30rem;
  padding: 1.6rem 0 1.6rem 1.6rem;
}

.character-cta {
  display: flex;
}

.character-cta button {
  padding: 16px 32px;
}


/*-------------------------------- HOME KITCHEN SECTION ----------------------------*/


.home-kitchen {
  background: #F7F8FA;
  padding: 9.6rem 0;
  padding-bottom: 200px;
}

.heading-secondary {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 24px;
  letter-spacing: -0.012em;
  color: #000;
  font-size: 4.8rem;
  margin: 0 0 0 0rem;
}

.item {
  background: white;
  border-radius: 8px;
  width: 277px;
  height: 337px;
  transition: transform 0.2s;
}

.item:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

}

.meal {
  gap: 3.2rem 2.4rem;
  padding: -5.8rem;
  padding-top: 63px;
}

.meal-img {
  width: 100%;
}

.meal-title,
.meal-price {
  font-size: 1.6rem;
}

.meal-attribute {
  color: #1b1c21;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  row-gap: 1.8rem;
  padding: 1.2rem 1.2rem;
  font-size: 1.6rem;
  width: 100%;
}

.meal-status {
  display: flex;
  gap: 14px;
}

.review,
.time {
  border-radius: 5px;
  background-color: #f7f8fa;
}

.review {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  box-shadow: 0px 0 4px 0 rgba(0, 0, 0, 0.2);
}

.time {
  display: inline-block;
  padding: 4px 6px;
  box-shadow: 4px 0 2px 0 rgba(0, 0, 0, 0.3), -4px 0 2px 0 rgba(0, 0, 0, 0.3);
}

.meal-price,
.add-cart-btn {
  justify-self: end;
}

.add-cart-btn img {
  margin-right: 4px;
  width: 2.4rem;
}

.kitchen-items {
  margin-bottom: 9.6rem;
}

p,
div {
  margin-bottom: 0;
}

.slide-meal {
  gap: 3.2rem 2.4rem;
  padding: 3.2rem;
}

.slide-meal-img {
  height: 250px;
  display: inline-block;
}

.slide-item {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: transform 0.2s;
  /* border: 2px solid red; */
  margin: 4px 0;
}

.slide-item:hover {
  transform: translateY(-4px);
}

.meal-title,
.meal-price {
  font-size: 1.6rem;
}

.slide-meal-attribute {
  color: #1b1c21;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 1.8rem 1.8rem;
  padding: 1.2rem 1.2rem;
  font-size: 1.6rem;
  min-width: 25%;
}

.slide-meal-status {
  display: flex;
  gap: 10px;
}

.slide-review,
.slide-time {
  border-radius: 5px;
  background-color: #f7f8fa;
}

.slide-review {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  box-shadow: 0px 0 4px 0 rgba(0, 0, 0, 0.2);
}

.slide-time {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  padding: 4px 6px;
  box-shadow: 4px 0 2px 0 rgba(0, 0, 0, 0.3), -4px 0 2px 0 rgba(0, 0, 0, 0.3);
}

.add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f3ba00;
  border-radius: 7px;
}

.slide-meal-price,
.slide-add-cart-btn {
  display: inline-block;
  justify-self: end;
}

.slide-add-cart-btn img {
  display: inline-block;
  width: 2.4rem;
  width: 100%;
}

.popular-items {
  display: flex;
  gap: 1.6rem;
  overflow: hidden;
  margin-left: 10px;
}


.box {
  margin: 0 auto;
  max-width: 87.5rem;
  height: 40rem;
}

.left-btn {
  position: absolute;
  right: 55%;
  top: 50%;
}

.left-btn {
  transform: translate(50%, -50%);
}

.left {
  display: inline-block;
  position: relative;
}

.left-slider {
  position: absolute;
  top: 40%;
  left: 9.6rem;
}

.right-btn {
  fill: #1ac073;
  position: absolute;
  right: 45%;
  top: 50%;
  transform: translate(50%, -50%);
}

.right {
  display: inline-block;
  position: relative;
}

.right-slider {
  position: absolute;
  right: 9.6rem;
  top: 40%;
}

.popular-item {
  position: relative;
}

.heading-tertiary,
.heading-tertiary h3 {
  text-transform: capitalize;
  font-size: 3.2rem;
  font-weight: 500;
  color: #000;
  text-align: center;
  margin-bottom: 2.4rem;
}

.heading-tertiary-h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
}

.circle {
  fill: #1ac073;
}

.left-btn {
  fill: #1ac073;
}

.right-btn:hover,
.left-btn:hover {
  fill: white;
}

.filled-circle {
  background-color: #1ac073;
  border-radius: 50% 50%;
}

.order-dish-btn a:link,
.order-dish-btn a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  width: 20rem;
  background-color: #1ac073;
  margin: 0 auto;
  padding: 1.6rem 3.2rem;
  border-radius: 8px;
  transition: background-color 700ms;
}

.order-dish-btn a:hover,
.order-dish-btn a:active {
  background-color: #107345;
}

.cta-btn {
  display: inline-block;
}

.order-dish-btn {
  display: inline-block;
  padding: 2.4rem 3.8rem 0 3.8rem;
  margin: 0 49rem;
}


/*------------------------------------- SERVICE SECTION ------------------------------------------*/


.service-description {
  display: flex;
  width: 65vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 9.6rem;
  padding-top: 0;
  position: absolute;
  top: -120%;
  left: 18%;
}

.our-service {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #737373;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  letter-spacing: 0.2px;
}

.cover {
  position: relative;
  height: 34rem;
  background-color: #c7eacc;
  margin: 4.8rem 0 0 0;
}

video {
  position: absolute;
  left: 50.5%;
  top: -125%;

  transform: translate(-50%, 50%);
}

.service-box {
  position: relative;
}

.section-service {
  margin-top: 40rem;
}

.service-description h2 {
  display: flex;
  flex-direction: column;
}

.paused {
  fill: #fff;
}

.paused-btn {
  position: absolute;
  top: -25%;
  left: 50%;
  z-index: 1;
  opacity: 1;
  transform: translate(-50%, 25%);
}

.pause {
  opacity: 0;
}


/*----------------------------------------- CONTACT US SECTION----------------------------------- */


.contact-us {
  background-color: #f7f8fa;
  padding: 9.6rem 0 6.2rem 6.2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-heading {
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
  color: #101115;
  display: flex;
  flex-direction: column;
}

.contact-description {
  font-size: 1.6rem;
  color: #1b1c21;
}

.contact-left-section {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1rem;
}

.your-name,
.your-email,
.text-area {
  font-family: 'Roboto';
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border: 0;
}

.your-name::placeholder,
.your-email::placeholder {
  font-size: 1.6rem;
  letter-spacing: -0.5px;
}

.your-name,
.your-email {
  height: 4.8rem;
}

.text-area {
  height: 18rem;
  grid-column: 1/-1;
  padding: 1.6rem 0 0 01.6rem;
  resize: none;
}

.submit-btn {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  width: 16rem;
  background-color: #1ac073;
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  border: none;
}

.contact-right-section img {
  margin-left: 3.2rem;
  width: 80%;
}

.contact-right-section {
  justify-self: end;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*--------------------------------------request a dish modal----------------------------------- */

.add-to-modal {
  position: absolute;
  top: 13%;
  left: 50%;
  z-index: 2;
  background-color: #fff;

  transform: translate(-50%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  width: 95vw;
  height: 61rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.modal__form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.for-name {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dish-name {
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  outline: none;
  border-radius: 8px;
  border: 0;
}

.for-name label,
.for-url label {
  font-weight: 400;
  font-size: 1.8rem;
}

.for-name input,
.for-url input {
  padding: 1.2rem 1.2rem;
  background-color: #f2f2f2;
  flex-grow: 1;
}

.for-url {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.for .modal__form input[text] {
  padding: 2rem 2rem;
}

.modal-btn {
  display: flex;
  gap: 2rem;
}

label {
  margin-bottom: 0;
}

.cancel-btn {
  display: inline-block;
  height: 5rem;
  width: 18.4rem;
  padding: 0 2rem;
  background-color: #f7f8fa;
  color: #1ac073;
  font-size: 1.6rem;
  border: 3px solid #1ac073;
  border-radius: 8px;
}

.modal-submit {
  display: inline-block;
  width: 50%;
}

.modal__heading {
  padding-top: 83px;
  display: absolute;
  top: -100%;
  margin: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(0.5px);
  z-index: 1;
  transition: all 0.3s;
}

.cart-modal {


  position: absolute;
  top: 13%;
  left: 50%;
  z-index: 2;

  background-color: #fff;
  transform: translate(-50%);
  width: 80%;
  height: 85%;

  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.cart-modal>img {
  padding-top: 100px;
}

.headint-tertiary {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 20px;
  color: black;
}

.headint-tertiary-1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #AAA7A7;
}


/* ---------------------------------------MEDIA QUERIES------------------------- */

@media only screen and (max-width: 767px) {
  .main-nav .main-nav-list {
    height: 120px;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 715px) {
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 715px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}